{% extends 'layout.html' %}
{% block contnet %}
    <div class="container"><a href="/mobile/add/">
        <button class="btn btn-success">添加手机号</button>
    </a>
    </div>
    <div class="container" style="margin-top: 10px">
        <div class="bs-example" data-example-id="panel-with-footer">
            <div class="panel panel-default">
                <div class="panel-body clearfix">
                    <form method="get">
                        <span>手机号信息</span>
                        <div class="col-lg-4" style="float: right;">
                            <div class="input-group">
                                <input type="text" class="form-control" name='q' placeholder="输入手机号"
                                       value="{{ search }}">
                                <span class="input-group-btn"><button class="btn btn-default"
                                                                      type="submit">搜索</button></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer" style="width: 1128px;height: 461px">
                    <div class="bs-example" data-example-id="striped-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>手机号</th>
                                <th>价格</th>
                                <th>等级</th>
                                <th>状态</th>
                                <th>操作</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for item in datalist %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.mobile }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.get_level_display }}</td>
                                    <td>{{ item.get_status_display }}</td>
                                    <td>
                                        <a href="/mobile/edit/{{ item.id }}/">
                                            <button class="btn btn-primary btn-xs" name="edit">编辑</button>
                                        </a>
                                        <a href="/mobile/delete/{{ item.id }}/">
                                            <button class="btn btn-danger btn-xs">删除</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div aria-label="Page navigation">
                <ul class="pagination">
                    {{ page_list }}
                </ul>
                 <div class="col-lg-3" style="display: inline;float: right;margin-top: 20px;margin-right: 300px">
                     <form action="">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." name="page">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" >Go!</button>
          </span>
        </div></form>
      </div>
            </div>

            </div>

        </div>

    </div>

{% endblock %}