{% extends 'layout.html' %}
{% block contnet %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">表单</div>
            <div class="panel-body">
                <form method="post" id="task_form" novalidate>
                    <div>
                        {% for item in form %}
                            <div class="col-xs-6">
                                <div class="form-group" style="position: relative; margin-top: 20px">
                                    <label>{{ item.label }}</label>
                                    {{ item }}
                                    <span class="error_msg" style="color: red;position: absolute;"></span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </form>
                <div class="col-xs-12" style="margin-top: 20px">
                    <input id="submit" type="submit" value="提 交" class="btn btn-primary center-block"
                           style="width: 100px;">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body clearfix">
                <form method="get">
                    <span>管理员信息</span>
                    <div class="col-lg-4" style="float: right;">
                        <div class="input-group">
                            <input type="text" class="form-control" name='q' placeholder="输入手机号"
                                   value="{{ search }}">
                            <span class="input-group-btn"><button class="btn btn-default"
                                                                  type="submit">搜索</button></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer" style="width: 1128px;height: 461px">
                <div class="bs-example" data-example-id="striped-table">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>等级</th>
                            <th>任务名</th>
                            <th>详情</th>
                            <th>负责人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data_list %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.get_level_display }}</td>
                                <td>{{ item.title }}</td>
                                 <td>{{ item.detail }}</td>
                                <td>{{ item.user.name }}</td>

                                <td>
                                    <a href="/task/edit/{{ item.id }}/">
                                        <button class="btn btn-primary btn-xs" name="edit">编辑</button>
                                    </a>
                                    <a href="/task/delete/{{ item.id }}/">
                                        <button class="btn btn-danger btn-xs">删除</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div aria-label="Page navigation">
                <ul class="pagination">
                    {{ page_list }}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            bindbtnEvent();

        })

        function bindbtnEvent() {

            $('#submit').click(function () {
                $('.error_msg').empty()
                $.ajax({
                    url: '/task/add/',
                    type: 'post',
                    data: $('#task_form').serialize(),
                    dataType: "JSON",
                    success: function (req) {
                        console.log(req.status)
                        if (req.status) {
                            alert('添加成功')
                            location.reload()
                        } else {
                            $.each(req.error, function (name, data) {
                                console.log('111')
                                $("#id_" + name).next().text(data[0]);
                            })
                        }

                    }

                })
            })
        }
    </script>
{% endblock %}